// colors

$color-main: #c3cfd9;
$color-secondary: #e8833a;

$color-text-main: #293845;
$color-text-secondary: #247a6b;

$color-selected: #1aae9e;
$color-available: #c3cfd9;
$color-unavailable: #f7c52b;

$color-border: #9eadba;
$color-placeholder: #afafaf;

$color-back-button: rgb(175, 175, 175);
$color-back-button-hover: rgb(109, 109, 109);

// fonts

$font-main: "Roboto", sans-serif;

// font sizes

$font-size-1: 2.488rem; //39.81px
$font-size-2: 2.074rem; //33.18px
$font-size-3: 1.728rem; //27.65px
$font-size-4: 1.44rem; //23.04px
$font-size-5: 1.2rem; //19.20px
$font-size-6: 1rem; //16.00px
$font-size-7: 0.833rem; //13.33px
$font-size-8: 0.694rem; //11.11px
$font-size-9: 0.579rem; //9.26px
